/* Updated CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
}

h1,
h2,
p,
h3 {
  color: #223a4d;
  opacity: 0.8;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2,
p {
  font-weight: 500;
}

h3 {
  font-weight: 600;
}

.user img {
  width: 119px;
  border-radius: 50%;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #2b5096, #0c001e);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  height: 865px;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  animation: fade-in 1s ease-in-out;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  animation: move-horizontally 10s linear infinite alternate;
}

.circle1 {
  top: 5%;
  left: -20rem;
}

.circle2 {
  bottom: 5%;
  right: -20rem;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
  animation: slide-up 1s ease-in-out;
}

.link h2 {
  padding: 0rem 2rem;
}

.games {
  flex: 2;
  animation: fade-in 1s ease-in-out;
  text-align: center;
}

.pro {
  background: linear-gradient(to right top, #2b5096, #0c001e);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
  animation: fade-in 1s ease-in-out;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}

.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

.status {
  margin-block-start: 35px;
  margin-bottom: 3rem;
  animation: slide-up 1s ease-in-out;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: slide-up 1s ease-in-out;
  text-align: center;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  animation: slide-up 1s ease-in-out;
  width: 200px;
  height: 275px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 150px;
  max-height: 100px;
  border-radius: 15%;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #777e8d, #467aad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlighted {
  background-color: #467aad;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-horizontally {
  0% {
    transform: translateX(-20rem);
  }
  50% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(-20rem);
  }
}
